/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


body{
    margin: 0;
  
}

.container{
    padding: 0 80px;
}

.promo{
    min-height: 750px;
    background: url(../img/BG.png) center center/cover no-repeat ;
    padding: 50px 0;
}


.logo__wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.page-header__logo{
    text-decoration: none;
    color: white;
}
.logo__text > span{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.page-header{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav-list{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    
}
.nav-list__item{
    margin: 0 25px;
}

.nav-list__item > a{
    color: #fff;
    text-decoration: none;
    opacity: .85;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    
}
.nav-list__item :hover{
    opacity: 1;
}
.nav-list__item :focus{
    color: black;
}



.sign-up__button{
    background-color: transparent;
    border: 2px white solid;
    border-radius: 2px;
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    
}
.promo_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
    margin: 10% 0;
}
.promo-media{
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    color: #fff;
    
}
.promo-media__video video{
    -o-object-fit: fill;
       object-fit: fill;
}
.promo-media__descr{
    width: 45%;
}

.descr__header{
    font-size: 25px;
    text-transform: uppercase;
}
/* .descr__header >h1{
     margin: 0 0 31px 0;
} */
.descr__text{
    line-height: 2;
}

.descr__btns{
    margin-top: 20px;
    
}

.descr__btn{
    width: 160px;
    height: 55px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
    background-color: #061e37;
    
}


.descr__btn:hover {
    
    color:  #061e37;
   background-color: #fff;
}
 .descr__btn--try {
    margin: 0 30px;
    background-color: #ffffff;
    color: #061e37;
 }
 .descr__btn--try:hover {
   
    background-color: #061e37;
    color:#ffffff ;
 }

 .descr__btn--green{
    background-color: #1de9b6;
    color: #ffffff;

 }
 .descr__btn--green:hover{
    background-color: #0e9e7a;
 }


 .promo-media__video {
    position: relative;
   
 }
 .video__play{
        position: absolute;
        top: calc(55% - 50px);
        left: 38%;
        /*  top: 125px;
        left: 230px; */
        width: 150px;
        color:#061e37;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
       
 }
 .video__play > div{
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 5px;
        background-color: rgb(6, 30, 55);
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        width: 60px;
        height: 60px;
        margin: 0 auto 22px auto;
        
 }
 
 
 .play__icon{
     width: 18px;
     height: 18px;
     -webkit-filter: invert(96%) sepia(0%) saturate(15%) hue-rotate(296deg) brightness(104%) contrast(104%);
             filter: invert(96%) sepia(0%) saturate(15%) hue-rotate(296deg) brightness(104%) contrast(104%);
 }
 .promo-media__video img{
 }
    
 /* Easy and Useful part */

 .useful {
     background-color: #fff;
     min-height: 300px;
     color: #b0bec5;
 }

 .useful-top__title{
    text-align: center;
    font-size: 50px;
    
    color: black;
    margin: 100px 0 10px;
 }
 .useful-top__subtitle{
    text-align: center;
     margin: 10px;
     font-size: 24px;
 }
 .useful-top__text{
    width: 500px;
    text-align: center;
    margin: 24px auto 0 auto;
    font-size: 18px;
    color: #b0bec5;
 }
 
 .useful-content{
    
     margin-top: 80px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     
 }
 .useful-content__item{
     width: 27%;
 }
 

 .item__title{
     color: black;
     font-weight: 24px;
     text-align: center;
 }

 .item__icon{
     text-align: center;
 }
 .useful-btn{
    margin-top: 60px;
    text-align: center;
    
 } 
/*  .button_gs button, .send{
     background-color: #1de9b6;
     color: #ffffff;
     
 }
 .button_gs button:hover, .send:hover{
    background-color: #0e9e7a;
    
}
 */
/* Color line styles */
.color-line{
    
    margin-top: 50px;
}
.color-line__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.color-line__block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40%;
    min-height: 150px;
}
.block__header{
    margin-left: 20px;
    color: #ffffff;
    font-weight: bold;
    
}
.block__business{
background-color: #80d8ff;
}
.block__downloads{
    background-color: #82b1ff;
}
.block__installs{
    background-color: #b388ff;
}
.block__users{
    background-color: #ea80fc;
}
.block__icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
}

/* Services styles */

.service{
    background-color: #ffffff;
    min-height: 450px;
    color: #b0bec5;
    padding: 100px 0;
}

/* service-content styles */
.service-tabs{
margin-top: 100px;

}
.service-tabs__item{
    color: black;
    width: 800px; 
    height: 50px;
    border: 2px solid #061e37;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin:0 auto 20px auto;
    padding: 0 25px 25px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
   
       
} 
.service-tabs__item--active{
    height: 240px;
    cursor: default;
}
.item-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.item__head{
 height: 50px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 margin: 30px;
 
 

}
.tab-icon{
    font-size: 18px;
}
.tab-icon >img{
    width: 25px;
}
.tab-title{
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    margin-left: 25px;
}
.head__wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.item-content__img{
    width: 35%;
    height: 155px;
    background: url(../img/tab_img.png) center center/cover no-repeat;
    border-radius: 5px;
    margin-right: 25px;
    line-height: 25px;
}
.item-content__text{
    margin-top: 10px;
    width: 63%;
    letter-spacing: 0.45px;
    font-weight: 600;
 }

 /* comments styles */

 .comments{
    padding-top: 87px;
    min-height: 500px;
    background: url(../img/BG_comments.png) center center/cover no-repeat;
 }
 .comment-block{
     
     display: -webkit-box;
     
     display: -ms-flexbox;
     
     display: flex;
     -webkit-box-align:center ;
         -ms-flex-align:center ;
             align-items:center ;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
 }

 .comment-descr__head{
     font-size: 45px;
     color: #fff;
 }
 .comment-descr__text{
     width: 515px;
     font-size: 15px;
     font-weight: 400;
     line-height: 25px;
     color: #fff;
 }
 .comment-button{
     margin-top: 100px;
 }

 .posted-item{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin-bottom: 80px;
 }
 .posted-item:last-child{
     margin-bottom: 0;
 }
 .posted-item__user-img{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     
     margin-right: 50px;
     
 }
 .posted-item__content{
     
     padding: 0 30px 0px 20px;
     min-height: 160px;
     width: 550px;
     background-color: #ffffff;
     border-radius: 5px;
     overflow: hidden;
 }
 .content__user-text{
    color: #b0bec5;;
 }
/* Team CSS styles */
.team{
    min-height: 500px;
    background-color:#ffffff;
}
.team-crew{
<<<<<<< HEAD
    padding: 50px;
=======
    margin: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
>>>>>>> fa09d5472dc183cae39044d028e69a452739c02d
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}
.team-crew__arrows{
    margin-top: 50px;
}
.team-crew__arrows > div{
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}
.worker-continer{
    max-width: 860px;
    width: 100%;
	text-align: center;
    
}
 .worker-wrapper{
     
    position: relative;
    height:640px;
	overflow: hidden; 
}

 .worker-card{
    text-align: center;
    width: 100%;
	position: absolute;
	left:0;
	transform: translateX(100%);

}
 .worker-card--showed{
    transform: translateX(0);
}

.worker-card__img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.img-round{
    border: 20px solid rgb(251, 251, 251);
    border-radius: 100%;
    -webkit-box-shadow: 1px 1px 30px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 30px 20px rgba(0, 0, 0, 0.1); 
    width: 160px;
    height: 160px;
    
}
.worker-card__description{
    width: 100%;
    color: #90A4AE;
}
.worker-card__references{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    
}
.worker-card__references > a{
    margin: 0 15px;
    
}
.social-media-img{
    width: 18px;
    height: 18px;
    -webkit-filter: invert(67%) sepia(18%) saturate(268%) hue-rotate(155deg) brightness(93%) contrast(88%);
            filter: invert(67%) sepia(18%) saturate(268%) hue-rotate(155deg) brightness(93%) contrast(88%);
    
}
/* Contact styles */
.contact-us{
   padding: 50px 0 100px;
    background-color: #fafafa;
    
}
.contact-us__content{    
   display: -webkit-box;    
   display: -ms-flexbox;    
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;

    margin: 30px 0 100px 0;

}

.contact_descr{
    color: black;
}
.input-blocks{
   margin-bottom: 20px;
}

.input-element{
    margin:0 20px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
    height: 30px;
    width: 200px;
    padding: 0 10px;
   
}
.message-element{
    margin:0 20px;
    width: 483px;
    height: 100px;
    resize: none;
    border-radius: 5px;
    outline: none;
}
.input__button{
    margin: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.input__button label{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
}

.button__checkbox{
    width: 16px;
    height: 16px;
    border: 3px solid #241414;
    margin-right: 5px;
}

.checkbox  > span{
    
 }

 /* footer styles */
 .footer{
  background-color: #061e37;
  padding: 80px 0;
 }
 .privacy-hrefs{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     margin-top: 30px;

 }
 .privacy-hrefs__wrapper{
     color: #90A4AE;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;  
 }
 .privacy-policy > a{
     text-decoration: none;
     color: #90A4AE;;
 }
 .nav_thing{
  
    margin-left: 50px;
}

.nav_thing > a{
    color: #fff;
    text-decoration: none;
    opacity: .85;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    
}
.nav_thing :hover{
    opacity: 1;
}
.nav_thing :focus{
    color: rgb(80, 219, 37);
}
 .privacy__items{
     display:-webkit-box;
     display:-ms-flexbox;
     display:flex;
     padding: 0;
 }
 .privacy__items  a{
     text-decoration: none;
     color: #90A4AE;;
 }
 .privacy__item{
    margin: 0 10px 0 20px;
}
 .privacy-policy{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
  
}
.contact-social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   
}
.contact-social > a{
margin-left:25px;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.popup_active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.popup__form{
    width: 530px;
    
    
}
.popup-wrapper{
    position: relative;
    padding: 30px;
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
}
.popup__close{
    position: absolute;
    top: 3%;
    left: 93%;
    cursor: pointer;
    font-size: 25px;
    color: gray;
}